<h2 class="my-4 text-center">
  {{this.finished ? 'Thank you for taking our quiz!' : 'Please, answer the questions below:'}}</h2>

<section *ngIf="!finished">


  <div class="questions-row">
    <app-question
      [item]="questions[shownQuestion]" [num]="shownQuestion">
    </app-question>
  </div>

  <div class="btns-group">
    <button class="btn btn-outline-success"
      (click)="timer.addMoreTime($event, 10)">+ 10 sec</button>
    <button class="btn btn-outline-success"
      (click)="hideIncorrectOptions($event)">50/50</button>
    <button class="btn btn-primary"
      (click)="timer.stopTimer()">{{this.shownQuestion === questions.length - 1 ? 'Finish' : 'Next'}}</button>
  </div>

  <div class="row">
    <div class="col-3">
      <app-countdown-timer #timer></app-countdown-timer>
    </div>
  </div>
</section>

<section *ngIf="finished">
  <h2 class="text-center my-5">Check your summary:</h2>
  <app-statistics [answers]="answers"></app-statistics>
  <div class="col-12 mt-4">
    <button class="btn btn-primary d-block mx-auto"
      (click)="startQuiz()">Start quiz again</button>
  </div>
</section>
