.form-check {
    label,
    input {
        cursor: pointer;
    }

    input[type="radio"] {
        display: none;
    }

    label {
        width: 100%;
        padding: 3px 5px;
    }
    input:checked + label {
        .badge {
            background-color: orange;
        }
    }

    input:disabled + label {
        visibility: hidden;
        .badge {
            visibility: hidden;
        }
    }

    img {
        max-width: 85%;
        float: right;
    }
}
